.App {
    height: 100%;
}

.Header {
    height: 60px;
    padding: 20px;
    color: white;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
}

ul {
    font-size: 1.5em;
}

a {
    color: lightblue;
}

.App-title {
    font-size: 1.5em;
}

ul {
    list-style: none;
}