.App {
    height: 100%;
}

.routes {
    width: 10%;
    height: 100%;
    display: inline-block;
    border-right: 1px solid lightblue;
}

.content {
    display: inline-block;
}

ul {
    font-size: 1.2em;
}

a {
    color: lightblue;
    text-decoration: none;
}

.App-title {
    font-size: 1.5em;
}

ul {
    list-style: none;
}